body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

blockquote {
    font-style: italic;
}
  .Mission {
text-align: right;
color: aquamarine;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #666;
}
